In [5]:
import pandas as pd
import matplotlib.pyplot as plt 
import scipy
import seaborn as sns

In [7]:
df = {}

for i in range(2010, 2022):
    df[i] = pd.read_csv("../data/csv_in_"+ str(i) + ".csv")

C:\Users\nexen\AppData\Local\Temp\ipykernel_8624\3123316795.py:4: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_"+ str(i) + ".csv")
C:\Users\nexen\AppData\Local\Temp\ipykernel_8624\3123316795.py:4: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_"+ str(i) + ".csv")
C:\Users\nexen\AppData\Local\Temp\ipykernel_8624\3123316795.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_"+ str(i) + ".csv")
C:\Users\nexen\AppData\Local\Temp\ipykernel_8624\3123316795.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_"+ str(i) + ".csv")

In [18]:
def get_first_marriage(is_after_covid, gender):
    year_selected = 2020 if is_after_covid == True else 2019
    gender_code = "아내결혼코드" if gender == True else "남편결혼코드"
    first_marriage_condition = df[year_selected][gender_code] == 1

    return df[year_selected][first_marriage_condition]

# 코로나 전/후의 남편/아내가 초혼인 경우의 DataFrame 받아오는 함수
# is_after_covid (bool) : True인 경우 2020년, False인 경우 2019년
# gender (bool) : True인 경우 아내 초혼, False인 경우 남편 초혼

#ex) is_after_covid = False, gender = True => 2020년의 아내 초혼인 경우의 DataFrame 반환

In [14]:
def print_every_year_boxplot(x1, y1):
    for year in range(2010, 2022):
        plt.figure()
        sns.boxplot(x= x1, y=y1, data= df[year])
        plt.title(year)
        plt.show()

In [22]:
get_first_marriage(True, True)['남편결혼코드'].unique()

,신고연도,신고월,신고일,남편지역코드,아내지역코드,실제결혼연도,실제결혼월,남편직업코드,아내직업코드,남편교육코드,아내교육코드,남편결혼코드,아내결혼코드,남편연령,아내연령,남편국적구분코드,남편국적코드,아내국적구분코드,아내국적코드
0,2020,12,1,31,31,2020,12,13,13,4,4,1,1,24.849,26.372,1.0,NaN,1.0,NaN
1,2020,12,3,22,22,2020,12,5,5,4,4,1,1,32.019,29.265,1.0,NaN,1.0,NaN
2,2020,12,3,22,22,2020,12,5,2,5,5,1,1,31.843,32.241,1.0,NaN,1.0,NaN
3,2019,11,11,23,11,2020,6,3,3,5,5,1,1,29.709,25.515,1.0,NaN,1.0,NaN
4,2020,12,7,25,25,2020,11,3,3,5,5,1,1,39.087,32.000,1.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170862,2020,8,25,38,38,2020,6,3,99,5,5,1,1,31.783,28.654,1.0,NaN,1.0,NaN
170863,2020,8,25,38,38,2020,4,5,5,4,5,1,1,38.104,35.145,1.0,NaN,1.0,NaN
170864,2020,7,21,37,31,2020,7,99,3,4,4,1,1,25.454,26.112,1.0,NaN,1.0,NaN
170865,2020,7,21,31,31,2020,4,3,5,5,5,1,1,32.397,35.989,1.0,NaN,1.0,NaN
170867,2020,8,25,38,38,2020,6,2,2,5,6,1,1,30.364,32.169,1.0,NaN,1.0,NaN