In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = {}

for i in range(2010, 2022):
    df[i] = pd.read_csv("../data/csv_in_" + str(i) + ".csv")

C:\Users\nexen\AppData\Local\Temp\ipykernel_23548\2842703993.py:4: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_" + str(i) + ".csv")
C:\Users\nexen\AppData\Local\Temp\ipykernel_23548\2842703993.py:4: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_" + str(i) + ".csv")
C:\Users\nexen\AppData\Local\Temp\ipykernel_23548\2842703993.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_" + str(i) + ".csv")
C:\Users\nexen\AppData\Local\Temp\ipykernel_23548\2842703993.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df[i] = pd.read_csv("../data/csv_in_" + str(i) + ".csv")

In [39]:
# hypogamy -> 강혼, hypergamy -> 승혼

def getDataFrame(isHypogamy, womanMarriageCode):
    context = []

    for i in range(2010, 2022):
        woman_marriaged = df[i][df[i]['아내결혼코드'] == womanMarriageCode]

        woman_marriaged = woman_marriaged.drop(labels = woman_marriaged[woman_marriaged['아내교육코드'].isin([1, 6])].index)

        hypogamy_condition = woman_marriaged['아내교육코드'] > woman_marriaged['남편교육코드']
        hypergamy_condition = woman_marriaged['아내교육코드'] < woman_marriaged['남편교육코드']

        woman_edu_revised = woman_marriaged[hypogamy_condition if isHypogamy else hypergamy_condition]

        context.append(woman_edu_revised)

    return context

### 강혼 여성 인원 추세

In [44]:
# 시대가 변하면서 강혼에 대한 편견이 많이 사라지지 않았을까?
hypogamy_dict_first = getDataFrame(True, 1) 
hypogamy_dict_second = getDataFrame(True, 2) 
hypogamy_dict_third = getDataFrame(True, 3) 

# X축 연도, Y축 해당 연도 강혼 인원 비율 -> plot

,신고연도,신고월,신고일,남편지역코드,아내지역코드,실제결혼연도,실제결혼월,남편직업코드,아내직업코드,남편교육코드,아내교육코드,남편결혼코드,아내결혼코드,남편연령,아내연령,남편국적구분코드,남편국적코드,아내국적구분코드,아내국적코드
12,2020,11,30,21,21,2020,11,5,8,4,5,3,1,32.315,27.402,1.0,NaN,1.0,NaN
14,2020,12,1,31,31,2020,12,99,2,4,5,1,1,25.320,25.736,1.0,NaN,1.0,NaN
16,2020,12,3,22,22,2020,12,13,3,4,5,1,1,34.575,34.169,1.0,NaN,1.0,NaN
44,2020,12,3,22,22,2020,12,5,2,4,5,1,1,33.043,35.035,1.0,NaN,1.0,NaN
59,2020,12,7,23,23,2020,12,2,99,4,5,1,1,33.884,34.723,1.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170793,2020,7,21,31,31,2020,4,5,2,4,5,1,1,50.534,48.660,1.0,NaN,1.0,NaN
170819,2020,7,21,37,37,2020,6,7,3,4,5,1,1,27.624,29.128,1.0,NaN,1.0,NaN
170827,2020,9,8,11,11,2020,9,3,2,4,5,1,1,34.553,28.986,1.0,NaN,1.0,NaN
170860,2020,7,21,31,31,2020,4,3,5,4,5,1,1,37.495,36.084,1.0,NaN,1.0,NaN
170863,2020,8,25,38,38,2020,4,5,5,4,5,1,1,38.104,35.145,1.0,NaN,1.0,NaN